$white: #fff;
$black: #000;
$primary: rgb(223, 2, 123);
$highlightBlue: rgb(33, 33, 223);
$opaqueBlack: rgb(128 128 128 / 25%);
$boxShadow: rgb(128 128 128 / 14%);
$corouselIndicator: rgb(120 117 117);
$prevNextBtn: rgb(0 0 0 / 45%);
$footerBg: rgb(161 161 161 / 19%);
$cartIconBg: rgb(214, 214, 214);
$inputBoxHighlight: rgb(0 78 255);
$error: rgb(255 0 0 / 78%);
$menuItemBorder: rgb(128 128 128 / 47%);
$menuItemActive: rgb(235 47 150 / 53%);
$siderBg: rgb(128 128 128 / 36%);
$siderBorder: rgb(128 128 128 / 57%);