@import '../styles/functions';

$font-12: toRem(12px);
$font-15: toRem(15px);
$font-16: toRem(16px);
$font-18: toRem(18px);


$font-weight-bold: bold;
$font-weight-bolder: bolder;
$font-weight-600: 600;