@import './colors';

@mixin button-style {
    color: $white;
    background: $primary;
    font-weight: $font-weight-bold;
    &:focus {
        border: 2px solid $highlightBlue;
    }
}

@mixin prev-next-style {
     position: absolute;
     top: 50%;
     background: $prevNextBtn;
     color: $white;
     &:focus {
      border: 1px solid $primary;
    }
}

@mixin display-style($display: 0, $align-items: 0, $justify-content: 0, $text-align: 0) {
  @if $display != 0 {
      display: $display;
  }

  @if $align-items != 0 {
    align-items: $align-items;
  }

  @if $justify-content != 0 {
    justify-content: $justify-content;
  }

  @if $text-align != 0 {
    text-align: $text-align;
  }
}